/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,700);

/*a:hover {*/
/*  color: #444E7F;*/
/*}*/

a {
  color: #7A8DE5;  
  text-decoration: none;
  position: relative;
}

/*a:after {*/
/*  text-align: justify;*/
/*  display: inline-block;*/
/*  content: attr(data-text);*/
/*  position: absolute;*/
/*  left: 0;*/
/*  top: 0;*/
/*  white-space: nowrap;*/
/*  overflow: hidden;*/
/*  color: #3fc1ff;*/
/*  min-height: 100%;*/
/*  width: 0;*/
/*  max-width: 100%;*/
/*  background: #444E7F;*/
/*  -moz-transition: .3s;*/
/*  -o-transition: .3s;*/
/*  -webkit-transition: .3s;*/
/*  transition: .3s;*/
/*}*/
a:hover {
  color: #444E7F;
}
/*a:hover:after {*/
/*  width: 100%;*/
/*}*/

tbody:hover a {
  color: transparent;
  text-shadow: 0 0 5px #aaa;
}
 
tbody:hover td {
  color: transparent;
  text-shadow: 0 0 5px #aaa;
}

tbody:hover tr:hover td {
  color: #444;
  text-shadow: 0 1px 0 #fff;
}

tbody:hover tr:hover a {
  color: #444;
  text-shadow: 0 1px 0 #fff;
}

